<div layout="row" class="medicalOffice">

    <!-- Espace d'affichage du menu (à gauche de la page) -->
    <md-sidenav
            class="md-sidenav-left medicalOfficeMenu"
            md-component-id="sidenav-left"
            md-is-locked-open="true"
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1>Menu</h1>
        </md-toolbar>

        <md-content layout-padding>
            <!-- Iterer les les elements à afficher et créer des liens vers les actions respectives. Les actions
            prennent en paramètre leur controleur et leur element d'appartance.
            -->
            <md-button ng-repeat="(k, element) in $ctrl.menuElements" class="medicalOfficeMenuButton"
                       ng-href="{{'#' + element.url}}">
                {{element.label}}
            </md-button>

        </md-content>

    </md-sidenav>

    <!-- espace de travail central -->
    <md-content flex class="medicalOfficeWorkspace">

        <!-- La ou le contenu sera affiché -->
        <div ng-view></div>

        <div flex></div>

    </md-content>

</div>
