<div layout="row" class="medicalOffice">

    <!-- Espace d'affichage du menu (à gauche de la page) -->
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="sidenav-left"
        md-is-locked-open="true"
        md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>

        <md-content layout-padding class="medicalOfficeMenu">
            <!-- Iterer les les elements à afficher et créer des liens vers les actions respectives. Les actions
            prennent en paramètre leur controleur et leur element d'appartance.
            -->
            <md-button ng-repeat="(k, element) in $ctrl.menuElements" class="medicalOfficeMenuButton"
                       ng-click="element.action($ctrl, element)">
                {{element.label}}
            </md-button>

        </md-content>

    </md-sidenav>

    <!-- Espace de travail (au centre de la page) 
    
    Contient une succession d'elements masqués qui seront (peut être...) affiché lors d'un 
    clic et du declenchement d'une action.
    
    -->
    <md-content flex class="medicalOfficeWorkspace">

        <!-- A etudier: iterer les elements de menu a la maniere des boutons du menu -->


        <div ng-show="$ctrl.menuElements.displaySearch.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displaySearch.label}}</h2>

            <search-form></search-form>

        </div>

        <div ng-show="$ctrl.menuElements.displayAddPatientForm.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displayAddPatientForm.label}}</h2>
            {{$ctrl.menuElements.addPatientForm}}
            <form-patient></form-patient>

        </div>

        <div ng-show="$ctrl.menuElements.displayAllPatients.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displayAllPatients.label}}</h2>

            <patient data="elmt" ng-repeat="elmt in $ctrl.allPatients"
                     on-patient-modified="$ctrl.updatePatients()"></patient>

        </div>

        <div ng-show="$ctrl.menuElements.displayAllNurses.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displayAllNurses.label}}</h2>

            <nurse ng-repeat="elmt in $ctrl.allNurses" data="elmt"></nurse>

        </div>

        <div ng-show="$ctrl.menuElements.displayNonAffectedPatients.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displayNonAffectedPatients.label}}</h2>

            <patient ng-repeat="elmt in $ctrl.nonAffectedPatients" data="elmt"></patient>

        </div>



        <div ng-show="$ctrl.menuElements.displayOfficeInfos.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.displayOfficeInfos.label}}</h2>

            <display-office-informations></display-office-informations>

        </div>

        <div ng-show="$ctrl.menuElements.showController.visible">
            <h2 class="officePanelTitle">{{$ctrl.menuElements.showController.label}}</h2>

            <json-pretty-print show="$ctrl"></json-pretty-print>

        </div>

        <div flex></div>

    </md-content>

</div>
