<!-- Liste des infirmières -->
<div layout="col">

    <div ng-repeat="nrs in $ctrl.allNurses" style="margin: 10px; background: red"
         ng-drag="true" ng-drag-data="nrs" ng-center-anchor="true">

        {{nrs.name + " " + nrs.firstname}} (Patients affectés: {{nrs.patientNbr}})</div>

</div>

<!--<div>{{$ctrl}}</div>-->

<!-- Liste des patients -->
<patient ng-repeat="elmt in $ctrl.nonAffectedPatients" data="elmt"
         nurses="$ctrl.allNurses" on-patient-modified="$ctrl.updateDatas()"></patient>
