<div layout-padding>

    <!-- Formulaire de recherche -->

    <form name="searchPatientForm"
          ng-submit="searchPatientForm.$valid && $ctrl.search()">

        <md-input-container class="md-block">
            <label>Nom</label>
            <input name="name" ng-model="$ctrl.personName" ng-maxlength="50"
                   autocomplete="off"/>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Prénom</label>
            <input name="firstname" ng-model="$ctrl.personFirstname"
                   ng-maxlength="50" autocomplete="off"/>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Identifiant</label>
            <input name="personId" ng-model="$ctrl.personId"
                   ng-maxlength="50" autocomplete="off"/>
        </md-input-container>

        <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary"
                       ng-click="$ctrl.search()">
                Rechercher un patient ou un infirmier
            </md-button>
        </div>

        <div layout="row" layout-align="center" class="formSearchMessage">
            {{$ctrl.controllerMessageSpace}}
        </div>

    </form>

    <!--<div style="witdh: 90%">{{$ctrl}}</div>-->

    <!-- Affichage des résultats, uniquement si plus d'un -->
    <div>
        <b ng-show="$ctrl.nurseResults.length > 1 || $ctrl.patientResults.length > 1">
            {{$ctrl.nurseResults.length + $ctrl.patientResults.length}} résultats(s) </b>

        <h2 ng-if="$ctrl.nurseResults.length > 0">Infirmiers</h2>
        <nurse data="elmt" ng-repeat="elmt in $ctrl.nurseResults"></nurse>

        <h2 ng-if="$ctrl.patientResults.length > 0">Patients</h2>
        <patient data="elmt" ng-repeat="elmt in $ctrl.patientResults"></patient>

    </div>

</div>
