.patientInfoLabel{
    font-weight: bolder;
    width: 20%;
}

.patientInformationsContainer md-content {
    /*background: inherit;*/
    height: 100%;
}

.patientLargeContent{
    height: 270px;
}

.patientSmallContent{
    height: 60px;
}

.patientMale{
    color: #0b0177;
}

.patientFemale{
    color: #730173;
}

.patientOther{
    color: #005b10;
}

.patientComponent .md-headline {
    padding: 10px;
    font-size: 20px;
}
