.patientInfoLabel{
    font-weight: bolder;
}

.patientInformationsContainer md-content {
    /*background: inherit;*/
    height: 100%;
}

.largeContent{
    height: 220px;
}

.smallContent{
    height: 70px;
}

.patientMale{
    color: #0b0177;
}

.patientFemale{
    color: #730173;
}

.patientOther{
    color: #005b10;
}

.patientComponent .md-headline {
    padding: 10px;
    font-size: 20px;
}
