<div class="formPatient">

    <form name="formPatient"
          ng-submit="$ctrl.disabled !== true && $ctrl.validFormAndSendData()">

        <table style="width: 100%">

            <!-- Nom du patient -->
            <tr>
                <td class="formPatientLabel">Nom:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.name" ng-pattern="$ctrl.patientInfoPattern"
                               md-minlength="3" md-maxlength="50" ng-disabled="$ctrl.disabled"
                               autocomplete="off" aria-label="Nom"/>
                    </md-input-container>
                </td>
            </tr>

            <!-- Prénom du patient -->
            <tr>
                <td class="formPatientLabel">Prénom:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.firstname" ng-pattern="$ctrl.patientInfoPattern"
                               md-minlength="3" md-maxlength="50" aria-label="Prénom"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>
                </td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <!-- Genre du patient -->
            <tr>
                <td class="formPatientLabel">Genre:</td>

                <td ng-switch="$ctrl.disabled">

                    <md-input-container ng-switch-when="true" ng-model="$ctrl.patient.gender"
                            aria-label="Genre">
                        <input ng-disabled="$ctrl.disabled"
                               ng-model="$ctrl.prettyGender"/>
                    </md-input-container>

                    <md-radio-group ng-switch-default ng-model="$ctrl.patient.gender"
                                    name="gender" layout="row" aria-label="Genre">
                    <md-radio-button value="F" ng-disabled="$ctrl.disabled">Femme</md-radio-button>
                    <md-radio-button value="M" ng-disabled="$ctrl.disabled">Homme</md-radio-button>
                    <md-radio-button value="A" ng-disabled="$ctrl.disabled">Autre</md-radio-button>
                    </md-radio-group>

                </td>
            </tr>

            <!-- Infirmier associé -->
            <tr>
                <td class="formPatientLabel">Infirmier associé:</td>
                <td>
                    <md-select ng-model="$ctrl.patient.nurseId" ng-disabled="$ctrl.disabled"
                            style="width: 60%"  aria-label="Infirmier">
                        <md-option ng-repeat="nurse in $ctrl.nurses"
                                   value="{{nurse.id}}">
                            {{nurse.name + ' ' + nurse.firstname}}
                        </md-option>
                    </md-select>
                </td>
            </tr>

            <!-- Date de naissance -->
            <tr>
                <td class="formPatientLabel">Date de naissance: </td>
                <td>
                    <md-datepicker ng-model="$ctrl.patientBirthdate"
                                   md-placeholder="Date de naissance" ng-disabled="$ctrl.disabled"
                                   md-min-date="$ctrl.lowestDate" md-max-date="$ctrl.highestDate"
                                   autocomplete="off" style="width: 60%"/>
                    </md-datepicker>


                </td>
            </tr>

            <!-- Numéro de sécurité sociale -->
            <tr>
                <td class="formPatientLabel">Numéro de sécurité sociale:</td>
                <td>

                    <md-input-container>
                        <input ng-model="$ctrl.patient.ssid" ng-pattern="$ctrl.ssidPattern"
                               md-minlength="15" md-maxlength="15" aria-label="Numéro de sécurité sociale"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>

                </td>
            </tr>

            <!-- Numéro de rue -->
            <tr>
                <td class="formPatientLabel">Numéro (adresse):</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.adressNumber" ng-pattern="/^ *[0-9]{1,3} *$/"
                               md-minlength="1" md-maxlength="3" aria-label="Numéro d'adresse"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>

                </td>
            </tr>

            <!-- Adresse rue -->
            <tr>
                <td class="formPatientLabel">Rue:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.adressStreet" ng-pattern="$ctrl.patientInfoPattern"
                               md-minlength="3" md-maxlength="50"  aria-label="Rue"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>
                </td>
            </tr>

            <!-- Adresse code postal -->
            <tr>
                <td class="formPatientLabel">Code postal:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.adressPostcode" ng-pattern="$ctrl.postcodePattern"
                               md-minlength="5" md-maxlength="5"  aria-label="Code postal"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>
                </td>
            </tr>

            <!-- Adresse etage -->
            <tr>
                <td class="formPatientLabel">Etage:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.adressFloor" ng-pattern="/^ *[0-9]{1,3} *$/"
                               md-minlength="1" md-maxlength="3"  aria-label="Etage"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>

                </td>
            </tr>

            <!-- Adresse ville -->
            <tr>
                <td class="formPatientLabel">Ville:</td>
                <td>
                    <md-input-container>
                        <input ng-model="$ctrl.patient.adressCity" ng-pattern="$ctrl.patientInfoPattern"
                               md-minlength="3" md-maxlength="50"  aria-label="Ville"
                               ng-disabled="$ctrl.disabled" autocomplete="off"/>
                    </md-input-container>

                </td>
            </tr>

            <!-- Bouton envoyer, à texte variable et affiché seulement si le formulaire est actif -->
            <tr ng-show="$ctrl.disabled !== true">
                <td colspan="2" style="text-align: center">
                    <md-button class="md-raised md-primary" type="submit">
                        {{$ctrl.buttonValidText}}
                    </md-button>
                </td>
            </tr>

        </table>

    </form>

    <!-- un peu de marge -->
    <div style="height: 50px">&nbsp;</div>

</div>
