<div class="formPatient">
    <!--<div><json-pretty-print show="$ctrl"></json-pretty-print></div>-->
    <form name="formPatient" 
          ng-submit="$ctrl.disabled !== true && $ctrl.validFormAndSendData()">

        <table style="width: 100%">

            <tr>
                <td class="formPatientLabel">Nom:</td>
                <td>
            <md-input-container>
                <input name="name" ng-model="$ctrl.patient.name" ng-pattern="$ctrl.patientInfoPattern" 
                       ng-minlength="3" ng-maxlength="50" ng-disabled="$ctrl.disabled"
                       autocomplete="off"/>
            </md-input-container>
            </td>
            </tr>

            <tr>
                <td class="formPatientLabel">Prénom:</td>
                <td>
            <md-input-container>
                <input name="firstname" ng-model="$ctrl.patient.firstname" ng-pattern="$ctrl.patientInfoPattern" 
                       ng-minlength="3" ng-maxlength="50"   
                       ng-disabled="$ctrl.disabled" autocomplete="off"/>
            </md-input-container>
            </td>
            </tr>

            <tr>
                <td class="formPatientLabel">Genre:</td>

                <td ng-switch="$ctrl.disabled">

            <md-input-container ng-switch-when="true" ng-model="$ctrl.patient.gender">
                <input ng-disabled="$ctrl.disabled" ng-model="$ctrl.prettyGender"/>
            </md-input-container>

            <md-radio-group ng-switch-default ng-model="$ctrl.patient.gender" name="gender" 
                            layout="row">
                <md-radio-button value="F" ng-disabled="$ctrl.disabled">Femme</md-radio-button>
                <md-radio-button value="H" ng-disabled="$ctrl.disabled">Homme</md-radio-button>
                <md-radio-button value="A" ng-disabled="$ctrl.disabled">Autre</md-radio-button>
            </md-radio-group>

            </td>
            </tr>

            <tr>
                <td class="formPatientLabel">Infirmier associé:</td>
                <td>
            <md-input-container>
                <input name="nurse" ng-model="$ctrl.patient.nurse" ng-pattern="$ctrl.patientInfoPattern" 
                       ng-minlength="3" ng-maxlength="50"      
                       ng-disabled="$ctrl.disabled" autocomplete="off"/>
            </md-input-container>
            </td>
            </tr>

            <tr>
                <td class="formPatientLabel">Date de naissance:</td>
                <td>
            <md-datepicker name=birthdate ng-model="$ctrl.patient.birthdate" 
                           md-placeholder="Date de naissance"  ng-disabled="$ctrl.disabled"
                           md-min-date="$ctrl.lowestDate" md-max-date="$ctrl.highestDate" 
                           autocomplete="off"
                           />
            </md-datepicker>
            </td>
            </tr>   

            <tr ng-show="$ctrl.disabled !== true">
                <td colspan="2" style="text-align: center">
            <md-button class="md-raised md-hue-2" type="submit">Mettre à jour les informations</md-button>
            </td>
            </tr>

            <tr ng-show="$ctrl.disabled !== true">
                <td colspan="2" style="text-align: center">
                    <div>{{$ctrl.controllerMessageSpace}}</div>
                </td>
            </tr>
        </table>
    </form>
    <!--        <div>
                {{$ctrl}}
            </div>
            <div>
                {{newPatientForm.birthdate.$error}}
            </div>-->

</div>
