.formPatient{
    overflow: visible;
}
.formPatient table{
    padding: 0px;
    margin: 0px;
}
.formPatient table td{
    padding: 5px;
    margin: 0px;
}

/** Etiquette de champs de tableau */
.formPatientLabel{
    width: 23%;
    font-weight: bolder;
}

.formPatient md-datepicker{
    background: white;
}

.formPatient md-datepicker md-content{
    background: white;
}

.formPatient input[disabled]{
    color: black;
}

.formPatient md-radio-button[checked=true]{
    color: black;
}
.formPatient md-radio-button[checked=false]{
    color: silver;
}

.formPatient md-input-container{
    margin: 0;
    max-height: 40px;
}

.patientFormErrorToast{
    color: #ffffff;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 13px;
    background: #830101;
}

