.connexionComponent{

}

.connexionComponentBlock{
    margin: 2%;
}

.connexionFormMessage{
    color: blue;
    font-weight: bolder;
}

.connexionIndication{
    color: darkgray;
    font-size: 14px;
    font-weight: bolder;
    margin: 3%;
}