<md-whiteframe class="md-whiteframe-17dp connexionComponent">

    <!-- Titre de l'écran de connexion -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Connexion</h3>
        </div>
    </md-toolbar>

    <div class="connexionComponentBlock" style="text-align: center">

        <div class="connexionIndication">
            Entrez vos identifiants d'infirmier ou de secrétaire.</div>

        <!-- Formulaire de verification de mot de passe -->
        <form name="$ctrl.connexionForm" method="post" action="/">

            <md-input-container  class="md-block">
                <label>Identifiant</label>
                <input md-maxlength="50" required name="login" ng-model="$ctrl.login"
                       autocomplete="off"/>
                <div ng-messages="connexionForm.login.$error">
                    <div ng-message="required">Champs requis.</div>
                    <div ng-message="md-maxlength">Ce champs doit faire moins de 50 caractères.</div>
                </div>
            </md-input-container>

            <md-input-container  class="md-block">
                <label>Mot de passe</label>
                <input md-maxlength="50" required name="password" ng-model="$ctrl.password"
                       autocomplete="off" type="password"/>
                <div ng-messages="connexionForm.password.$error">
                    <div ng-message="required">Champs requis.</div>
                    <div ng-message="md-maxlength">Ce champs doit faire moins de 50 caractères.</div>
                </div>
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Connexion</md-button>

            <div class="connexionFormMessage">
                {{$ctrl.errorMessage}}
            </div>

        </form>

    </div>

</md-whiteframe>
