.connexionComponent{
    border: solid 2px rgb(219, 235, 255);
}

.connexionComponentBlock{
    margin: 2%;
}

.connexionFormMessage{
    color: blue;
    font-weight: bolder;
}

.connexionIndication{
    color: darkgray;
    font-size: 14px;
    font-weight: bolder;
    margin: 3%;
}
