<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.data.name + ' ' + $ctrl.data.firstname}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img ng-src="{{$ctrl.data.imagePath}}" 
                     alt ="Photo de {{$ctrl.data.name + ' ' + $ctrl.data.firstname}}"/>
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-content ng-switch="$ctrl.displayMode" class="patientInformationsContainer"
                     ng-class="{
                                 nurseLargeContent: $ctrl.displayMode !== 'summary',
                                         nurseSmallContent: $ctrl.displayMode === 'summary'
                             }">

        <!-- Affichage des informations de base -->
        <md-content ng-switch-when="summary" flex style="overflow: hidden;">
            <table style="width: 100%">
                <tr ng-repeat="(kinfo, info) in $ctrl.summaryDatas">
                    <td class="nurseInfoLabel">{{kinfo}}:</td>
                    <td>{{info}}</td>
                </tr>
            </table>
        </md-content>

        <!-- Affichage patients affectés -->
        <md-content ng-switch-when="affectedPatients">
            {{$ctrl}}
        </md-content>

        <!--{{$ctrl}}-->
    </md-card-content>
    
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.setDisplayMode('summary')" ng-show="$ctrl.displayMode !== 'summary'">
            Replier</md-button>
        <md-button ng-click="$ctrl.setDisplayMode('affectedPatients')">Patient affectés</md-button>
    </md-card-actions>
</md-card>