<md-card>
    <md-card-title>

        <!-- nom de l'infirmiere -->
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.data.name + ' ' + $ctrl.data.firstname}}</span>
            <span class="md-subhead">Identifiant: {{$ctrl.data.id}}</span>
        </md-card-title-text>

        <!-- Photo -->
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img ng-src="{{$ctrl.data.imagePath}}"
                     alt="Photo de {{$ctrl.data.name + ' ' + $ctrl.data.firstname}}"/>
            </div>
        </md-card-title-media>

    </md-card-title>

    <!-- Contenu -->
    <md-card-content ng-switch="$ctrl.displayMode" class="patientInformationsContainer"
                     ng-class="{
                                 nurseLargeContent: $ctrl.displayMode !== 'summary',
                                         nurseSmallContent: $ctrl.displayMode === 'summary'
                             }">

        <!-- Affichage des informations de base -->
        <md-content ng-switch-when="summary" flex style="overflow: hidden;">

        </md-content>

        <!-- Affichage patients affectés -->
        <md-content ng-switch-when="affectedPatients">
            <ul>
                <li ng-repeat="patient in $ctrl.affectedPatients">
                    <a href="#/search/{{patient.name}}/{{patient.firstname}}/{{patient.ssid}}"
                        class="nursePatientLink">
                        {{patient.name}} {{patient.firstname}} ({{patient.ssid}})</a>
                </li>
            </ul>
            <span ng-show="$ctrl.affectedPatients.length === 0">Aucun patient affecté</span>
        </md-content>

        <!--{{$ctrl}}-->
    </md-card-content>

    <!-- Boutons de modes d'affichage -->
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.setDisplayMode('summary')" ng-show="$ctrl.displayMode !== 'summary'">
            Replier
        </md-button>
        <md-button ng-click="$ctrl.setDisplayMode('affectedPatients')">Patient affectés</md-button>
    </md-card-actions>

</md-card>