.nurseLargeContent{
    height: 150px;
}

.nurseSmallContent{
    height: 40px;
}

.nurseInfoLabel{
    font-weight: bolder;
    width: 20%;
}

.nursePatientLink{
    text-decoration: none;
}

.nursePatientLink:hover{
    text-decoration: underline;
}